In [1]:
#import libraries:
import pandas as pd

# 0. Import and explore the dataset

In [2]:
dmd = pd.read_csv("train.csv", index_col="id")

In [3]:
dmd.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    0.50      Ideal     D     VS2   62.3   55.0  5.11  5.07  3.17   1845
1    1.54       Good     I     VS1   63.6   60.0  7.30  7.33  4.65  10164
2    1.32  Very Good     J     SI2   61.7   60.0  6.95  7.01  4.31   5513
3    1.20      Ideal     I     SI1   62.1   55.0  6.83  6.79  4.23   5174
4    1.73    Premium     I     SI1   61.2   60.0  7.67  7.65  4.69  10957

In [4]:
dmd.shape

(40455, 10)

In [5]:
dmd.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [6]:
dmd.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [7]:
dmd.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [8]:
dmd.describe()

,carat,depth,table,x,y,z,price
count,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000
mean,0.800571,61.749675,57.462820,5.737267,5.741070,3.541966,3956.020517
std,0.475258,1.433896,2.243808,1.123680,1.153677,0.696327,4009.646467
min,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000,326.000000
25%,0.400000,61.000000,56.000000,4.720000,4.730000,2.910000,954.000000
50%,0.700000,61.800000,57.000000,5.700000,5.710000,3.530000,2428.000000
75%,1.050000,62.500000,59.000000,6.540000,6.540000,4.040000,5362.500000
max,5.010000,79.000000,95.000000,10.740000,58.900000,8.060000,18818.000000

In [9]:
#Explore the columns that are objects:

In [10]:
dmd["cut"].value_counts()

Ideal        16152
Premium      10321
Very Good     9040
Good          3729
Fair          1213
Name: cut, dtype: int64

In [11]:
dmd["color"].value_counts()

G    8469
E    7282
F    7199
H    6210
D    5098
I    4091
J    2106
Name: color, dtype: int64

In [12]:
dmd["clarity"].value_counts()

SI1     9758
VS2     9272
SI2     6895
VS1     6151
VVS2    3799
VVS1    2692
IF      1321
I1       567
Name: clarity, dtype: int64

In [13]:
#The categorical data is following a structure that I like, with nothing to fix (no missing values, no weird names)

In [14]:
#Therefor, what I choose to do next, is covert the data using get_dummies

In [15]:
#We create the dummies for the columns we want the type to change
dmd_dummy = pd.get_dummies(dmd[['cut','color','clarity']], drop_first=True)
dmd_dummy.head()

,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
id,,,,,,,,,,,,,,,,,
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0
3,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
4,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0

In [16]:
#I now drop the columns I dont need
dmd_2=dmd.drop(columns=["cut","color","clarity"])

In [17]:
#I now join the dummies to the rest of the table
dmd_2=dmd_2.join(dmd_dummy)
dmd_2.head()

,carat,depth,table,x,y,z,price,cut_Good,cut_Ideal,cut_Premium,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
id,,,,,,,,,,,,,,,,,,,,,
0,0.50,62.3,55.0,5.11,5.07,3.17,1845,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,1.54,63.6,60.0,7.30,7.33,4.65,10164,1,0,0,...,0,1,0,0,0,0,1,0,0,0
2,1.32,61.7,60.0,6.95,7.01,4.31,5513,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,1.20,62.1,55.0,6.83,6.79,4.23,5174,0,1,0,...,0,1,0,0,1,0,0,0,0,0
4,1.73,61.2,60.0,7.67,7.65,4.69,10957,0,0,1,...,0,1,0,0,1,0,0,0,0,0

In [18]:
dmd_2.dtypes

carat            float64
depth            float64
table            float64
x                float64
y                float64
z                float64
price              int64
cut_Good           uint8
cut_Ideal          uint8
cut_Premium        uint8
cut_Very Good      uint8
color_E            uint8
color_F            uint8
color_G            uint8
color_H            uint8
color_I            uint8
color_J            uint8
clarity_IF         uint8
clarity_SI1        uint8
clarity_SI2        uint8
clarity_VS1        uint8
clarity_VS2        uint8
clarity_VVS1       uint8
clarity_VVS2       uint8
dtype: object

## Starting with a regression model

In [19]:
X = dmd_2.drop(columns='price')
y = dmd_2['price']

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [21]:
#Separate those into test and training data with 80% of the data in the training set
X_train, X_test, y_train, y_test = train_test_split( X, y, train_size=0.8)

In [22]:
model1 = LinearRegression()
model1.fit(X_train, y_train)

LinearRegression()

In [23]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

### r2 score

In [24]:
#Training set
y_pred_train = model1.predict(X_train)

r2_ = r2_score(y_pred=y_pred_train, y_true=y_train)
r2_

0.9200182071243216

In [25]:
#Testing set
y_pred_test = model1.predict(X_test)

r2_test = r2_score(y_pred=y_pred_test, y_true=y_test)
r2_test

0.9214637355039283

### mse

In [26]:
#Training set
mse_ = mean_squared_error(y_true=y_train, y_pred= y_pred_train) 
mse_

1284243.9303771034

In [27]:
#Testing set
mse_test = mean_squared_error(y_true= y_test, y_pred= y_pred_test) 
mse_test

1268950.8428842109

squaredboolean value, optional (default = True)

    If True returns MSE value, if False returns RMSE value.

As a default its true, and we want it to be rmse not mse, therefore we change it to False

### rmse

In [28]:
rmse_ = mean_squared_error(y_true= y_train, y_pred= y_pred_train, squared=False) #if False returns RMSE value.
rmse_

1133.2448677920863

In [29]:
rmse_test = mean_squared_error(y_true= y_test, y_pred= y_pred_test, squared=False)
rmse_test

1126.4771825848097

## Now that we have the value rmse for the first model, I import the scond dataset

In [30]:
dmddmd = pd.read_csv("predict.csv", index_col="id")

In [31]:
dmddmd.head()

    carat      cut color clarity  depth  table     x     y     z
id
0    0.45  Premium     E     SI1   62.8   58.0  4.88  4.84  3.05
1    1.23    Ideal     H     SI1   61.0   56.0  6.96  6.92  4.23
2    0.33    Ideal     I      IF   61.8   55.0  4.46  4.47  2.76
3    0.51  Premium     D     VS2   58.0   60.0  5.29  5.26  3.06
4    0.40  Premium     E     VS2   62.2   59.0  4.71  4.74  2.94

In [32]:
#As we can see it has no y, no column for price

In [163]:
#Repeat the same steps in the previouse dataset for this one:

In [164]:
dmddmd.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
dtype: object

In [165]:
#We create the dummies for the columns we want the type to change
dmddmd_dummy = pd.get_dummies(dmd[['cut','color','clarity']], drop_first=True)
dmddmd_dummy.head()

,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
id,,,,,,,,,,,,,,,,,
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0
3,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
4,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0

In [166]:
#I now drop the columns I dont need
dmddmd_2=dmddmd.drop(columns=["cut","color","clarity"])

In [167]:
#I now join the dummies to the rest of the table
dmddmd_2=dmddmd_2.join(dmddmd_dummy)
dmddmd_2.head()

,carat,depth,table,x,y,z,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
id,,,,,,,,,,,,,,,,,,,,,
0,0.45,62.8,58.0,4.88,4.84,3.05,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1.23,61.0,56.0,6.96,6.92,4.23,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,0.33,61.8,55.0,4.46,4.47,2.76,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
3,0.51,58.0,60.0,5.29,5.26,3.06,0,1,0,0,...,0,1,0,0,1,0,0,0,0,0
4,0.40,62.2,59.0,4.71,4.74,2.94,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0

In [168]:
##Now we use this in our model

In [169]:
y_pred_test_dmddmd = model1.predict(dmddmd_2)

In [170]:
y_pred_test_dmddmd

array([ 1782.51090548,  7154.10075268, -3057.40810937, ...,
        1071.39569767,   595.45531361,  7413.15855712])

In [171]:
#Insert into dataset

In [175]:
dmddmd_2["price"]=y_pred_test_dmddmd
dmddmd_2.head()

,carat,depth,table,x,y,z,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,...,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,price
id,,,,,,,,,,,,,,,,,,,,,
0,0.45,62.8,58.0,4.88,4.84,3.05,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1782.510905
1,1.23,61.0,56.0,6.96,6.92,4.23,1,0,0,0,...,1,0,0,0,0,1,0,0,0,7154.100753
2,0.33,61.8,55.0,4.46,4.47,2.76,0,0,0,1,...,0,1,0,0,1,0,0,0,0,-3057.408109
3,0.51,58.0,60.0,5.29,5.26,3.06,0,1,0,0,...,1,0,0,1,0,0,0,0,0,219.146617
4,0.40,62.2,59.0,4.71,4.74,2.94,0,0,1,0,...,1,0,0,1,0,0,0,0,0,-710.913757

In [176]:
#I now export as a csv

In [177]:
dmddmd_2["price"].to_csv("test_.csv",header= True )